body {
    margin: 0px;
    padding: 0px;
    background-color: #fffaf4;
}

hr {
    color: white;
}

.brand {
    color: black;
}

.menu {
    margin: 16px 16px;
}

.selection {
    display: flex;
    justify-content: space-evenly;
}


.contact {
    display: flex;
    justify-content: space-between;
    margin: 80px 80px 16px 80px;
    padding: 0px 60px;
}

.thumbnail {
    background-color: #997552;
    background-image: url(./thumbnail1.jpg);
    padding: 40px 0px;
} 
     
.button {
    margin: auto;
    
}

.introduction {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 60%;
    border: solid white;
    padding: 20px 24px;
    width: 20%;
}

.sub-introduction {
    color: white;
    width: 80%;
    margin: auto;
}

.size-24 {
    font-size: 24px;
}

.main-headline {
    margin-top: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.sub-headline {
    display: flex;
    justify-content: center;
}

.sub-article {
    box-sizing: border-box;
}

