body {
    margin: 0px;
    padding: 0px;
    background-color: #fffaf4;
}

.brand {
    color: black;
}

.menu {
    margin: 16px 16px;
}

.selection {
    display: flex;
    justify-content: space-evenly;
}

.menu-button {
    background-color: #fffaf4;
    color: #2f2b2a;
    border: none;
}



.contact {
    display: flex;
    justify-content: space-between;
    margin: 80px 80px 0px 80px;
}

.thumbnail {
    background-color: #997552;
    background-image: url("./thumbnail1.jpg") ;
    padding: 40px 0px;
    width: 100%;
} 
     
.introduction {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 60%;
    border: solid white;
    padding: 20px 24px;
    width: 420px;
    background-color: rgba(128, 128, 128, 0.593);
}

.sub-introduction {
    color: white;
    width: 80%;
    margin: auto;
}

.button-container-center {

}

#button1 {
    margin: 0px auto;
    display: block;
    color: white;
    background-color: rgba(59, 44, 44, 0.545);
    border-color: white;
    padding: 8px 24px;
}

.size-32 {
    font-size: 32px;
}
.size-28 {
    font-size: 28px;
}

.main-headline {
    margin-top: 10px;
    font-size: 52px;
    display: flex;
    justify-content: center;
}

.sub-headline {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.article {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

#cup-of-coffee1 {
    width: 380px;
    height: 380px;
    margin: 10px 20px;
    border-radius: 20%;
}

.sub-article {
    box-sizing: border-box;
    width: fit-content;
    padding: 20px
}

.title {
    font-size: 28px;
}

.content {
    font-size: 20px;
    margin: 12px 0px;
}
 
.list-list {
    margin: 12px 0px;
    font-size: 20px;
}